@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.cms a {
    @apply text-red-500;
    text-decoration: underline dotted;

}

.cms a:hover {
    @apply text-gray-900;
    text-decoration-color: black;
}

.cms div, .cms ul li,.cms ol li, .cms p {
    @apply text-sm;
    @apply text-gray-900;
}

.cms ul {
    @apply list-disc list-outside;
    @apply ml-5;
}

.cms ol {
    @apply list-outside;

    counter-reset: item
}

.cms ol>li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    @apply font-bold;
}

.cms ol ol,.cms ol ul {
    @apply mt-2;
    @apply ml-5;
}

.cms li {
    @apply mb-2;
}
